@page "/fetchdata"
@using Festival.Shared.Models



@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (vagterne == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Mandag</th>
                <th>Tirsdag</th>
                <th>Onsdag</th>
                <th>Torsdag</th>
                <th>Fredag</th>
                <th>Lørdag</th>
                <th>Søndag</th>
                

            </tr>
        </thead>
        <tbody>
            @foreach (var vagter in vagterne)
            {
            <tr>
                <td style="padding: 10px; border: 3px solid ">
                    @vagter.beskrivelse<br />
                    @vagter.starttidspunkt<br />
                    @vagter.sluttidspunkt<br />
                    @vagter.kap<br />
                    @vagter.ledig<br />
                </td>
             

            </tr>
            }
        </tbody>
    </table>
}

@code {
    public Bruger[] brugere;
    public Vagter[] vagterne;

    @*public object LedigVagt(object[] args)
    {
        foreach (var vagte in vagterne)
            if ( vagte.vagterId == 1)
            {
                return vagterne.ToList();
            }
            else if (vagte.vagterId == 2)
            {
                return vagterne.ToList();
            }
    }*@

    protected override async Task OnInitializedAsync()
    {
        vagterne = await Http.GetFromJsonAsync<Vagter[]>("Vagter");
    }

}
