@page "/vagtplank"
@using Festival.Shared.Models
@inject HttpClient Http
@inject NavigationManager nav

<html>

<body>

    <img src="swag.png" width="124" height="124" style="float:right">

    <h2>Vagtplan</h2>

    @if (vagterne == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <head>
            <style>
                .tableFixHead {
                    overflow-y: auto;
                    height: 450px;
                    overflow-x: auto;
                    width: 1200px;
                    border-radius: 0.5%;
                }

                    .tableFixHead thead th {
                        position: sticky;
                        top: 0;
                    }

                table {
                    border-collapse: collapse;
                    width: 100%;
                }

                td {
                    padding: 8px 16px;
                    border: 1px solid #ccc;
                }

                th {
                    padding: 8px 16px;
                    border: 1px solid #ccc;
                    background: #ffffff;
                }
            </style>
        </head>

        <body>

            <button type="submit" @onclick="OpretVagter" class="btn btn-primary">Opret vagt</button>

            <div class="tableFixHead">
                <table>
                    <thead>
                        <tr>
                            <th>Mandag</th>
                            <th>Vagten er ledig</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vagt in vagterne)
                        {
                            <tr>
                                @if (vagt.dag.ToLower() == "mandag")
                                {
                                    <td>@vagt.starttidspunkt <br />@vagt.sluttidspunkt <br />@vagt.beskrivelse <br />@vagt.kap</td>
                                    <td><a href="/opretvagt" style="color: #0000FF; text-decoration: none">Tilmeld vagt</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr>
                            <th>Tirsdag</th>
                            <th>Vagten er ledig</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vagt in vagterne)
                        {
                            <tr>
                                @if (vagt.dag.ToLower() == "tirsdag")
                                {
                                    <td>@vagt.starttidspunkt <br />@vagt.sluttidspunkt <br />@vagt.beskrivelse <br />@vagt.kap</td>
                                    <td><a href="/opretvagt" style="color: #0000FF; text-decoration: none">Tilmeld vagt</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr>
                            <th>Onsdag</th>
                            <th>Vagten er ledig</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vagt in vagterne)
                        {
                            <tr>
                                @if (vagt.dag.ToLower() == "onsdag")
                                {
                                    <td>@vagt.starttidspunkt <br />@vagt.sluttidspunkt <br />@vagt.beskrivelse <br />@vagt.kap</td>
                                    <td><a href="/opretvagt" style="color: #0000FF; text-decoration: none">Tilmeld vagt</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr>
                            <th>Torsdag</th>
                            <th>Vagten er ledig</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vagt in vagterne)
                        {
                            <tr>
                                @if (vagt.dag.ToLower() == "torsdag")
                                {
                                    <td>@vagt.starttidspunkt <br />@vagt.sluttidspunkt <br />@vagt.beskrivelse <br />@vagt.kap</td>
                                    <td><a href="/opretvagt" style="color: #0000FF; text-decoration: none">Tilmeld vagt</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr>
                            <th>Fredag</th>
                            <th>Vagten er ledig</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vagt in vagterne)
                        {
                            <tr>
                                @if (vagt.dag.ToLower() == "fredag")
                                {
                                    <td>@vagt.starttidspunkt <br />@vagt.sluttidspunkt <br />@vagt.beskrivelse <br />@vagt.kap</td>
                                    <td><a href="/opretvagt" style="color: #0000FF; text-decoration: none">Tilmeld vagt</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr>
                            <th>Lørdag</th>
                            <th>Vagten er ledig</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vagt in vagterne)
                        {
                            <tr>
                                @if (vagt.dag.ToLower() == "lørdag")
                                {
                                    <td>@vagt.starttidspunkt <br />@vagt.sluttidspunkt <br />@vagt.beskrivelse <br />@vagt.kap</td>
                                    <td><a href="/opretvagt" style="color: #0000FF; text-decoration: none">Tilmeld vagt</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr>
                            <th>Søndag</th>
                            <th>Vagten er ledig</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vagt in vagterne)
                        {
                            <tr>
                                @if (vagt.dag.ToLower() == "søndag")
                                {
                                    <td>@vagt.starttidspunkt <br />@vagt.sluttidspunkt <br />@vagt.beskrivelse <br />@vagt.kap</td>
                                    <td><a href="/opretvagt" style="color: #0000FF; text-decoration: none">Tilmeld vagt</a></td>

                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </body>
    }
</body>
</html>



@code {

    private Vagter v = new ();

    public void OpretVagter()
    {
        nav.NavigateTo("/opretvagt");
    }

    

    private Vagter[] vagterne;

    protected override async Task OnInitializedAsync()
    {
        vagterne = await Http.GetFromJsonAsync<Vagter[]>("Vagter");
    }


}
