@page "/dinevagter"
@using Festival.Shared.Models
@inject HttpClient Http
@inject NavigationManager nav

<html>

<body>

    <img src="swag.png" width="124" height="124" style="float:right">

    <h1>Frivillige oversigt</h1>
    <h2>Dette er din vagtplan</h2>

    @if (vagterne == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <head>
            <style>
                .tableFixHead {
                    overflow-y: auto;
                    height: 450px;
                    overflow-x: auto;
                    width: 1200px;
                    border-radius: 0.5%;
                }

                    .tableFixHead thead th {
                        position: sticky;
                        top: 0;
                    }

                table {
                    border-collapse: collapse;
                    width: 100%;
                }

                td {
                    padding: 8px 16px;
                    border: 1px solid #ccc;
                }

                th {
                    padding: 8px 16px;
                    border: 1px solid #ccc;
                    background: #ffffff;
                }
            </style>
        </head>

        <body>
            <div class="tableFixHead">
                <table>
                    <thead>
                        <tr>
                            <th>Dag</th>
                            <th>Starttid</th>
                            <th>Sluttidspunkt</th>
                            <th>Opgave</th>
                            <th>Antal frivillige</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vagt in vagterne)
                        {
                            
                            <tr>
                                <td>@vagt.dag</td>
                                <td>@vagt.starttidspunkt</td>
                                <td>@vagt.sluttidspunkt</td>
                                <td>@vagt.beskrivelse</td>
                                <td>@vagt.kap</td>                                
                            </tr>
                            
                        }
                    </tbody>
                </table>
            </div>
        </body>
    }
</body>
</html>



@code {

    private Vagter v = new();
    private Bruger b = new();

    private Vagter[] vagterne;

    protected override async Task OnInitializedAsync()
    {
        vagterne = await Http.GetFromJsonAsync<Vagter[]>("Vagter");
    }

}
